numpy~=1.26.0
resampy==0.4.3
librosa==0.11.0
s3tokenizer==0.2.0
#torch==2.6.0
#torchaudio==2.6.0
torchcodec==0.8.1
transformers==4.46.3
diffusers==0.29.0
resemble-perth==1.0.1
omegaconf==2.3.0
conformer==0.3.2
safetensors==0.5.3
sentencex==0.6.1
pydub==0.25.1
soundfile==0.13.1
